<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>user</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">LORE ATHENAEUM</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/{{data['id']}}">Home</a></li>
        <li><a href="/all_books/{{data['id']}}">Books</a></li>
        <li><a href="/cart/{{data['id']}}">Cart</a></li>
        <li><a href="/library/{{data['id']}}">Library</a></li>
        <li><a href="/wishlist/{{data['id']}}">Wishlist</a></li>
        <li><a href="/payment_details/{{data['id']}}">Payment</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
    {% for key,username in data.items() %}
        <h2> {{username}}</h2>
    {% endfor %}
</body>
</html>

